{% extends "base.html" %}

{% block title %}
    pylyrical_api - lyrics API scraping from genius.com
{% endblock %}

{% block content %}

    <h1 class="colored">pylyrical_api</h1>
    <p>A wrapper for <a href="https://genius.com">genius.com</a></p>
    
    <h2>Try it</h2>
    <p>To see pylyrical_api in action, visit the <a href="https://dev64.xyz/lyrics">lyrics</a> route of <a href="https://dev64.xyz">my website</a>.</p>

    <h2>Docs</h2>
    <ul>
        <li>Endpoint: <code>/lyrics</code></li>
        <ul>
            <li>Acceptable parameters: <code>q</code></li>
            <li>
                Example:
                <code>/lyrics?q=how+do+i+make+you+love+me+the+weeknd</code>
            </li>
        </ul>
    </ul>

    <h3>Responses</h3>
    <p>Responses are always in JSON, unless there is a server side, unexpected, unhandled error.</p>

    <ol>
        <li>HTTP 200</li>
        <ul>
            <li>
                <code>{"artists": "", "lyrics": "", "source": "", "status": 200, "title": "", "cover_image": ""}</code>
            </li>
        </ul>

        <li>HTTP 400</li>
        <ul>
            <li>
                <code>{"exception": "NoParameter", "message": "Missing parameter 'q'.", "status": 400}</code>
            </li>
        </ul>

        <li>HTTP 404</li>
        <ul>
            <li>
                <code>{"exception": "NoResults", "message": "'' did not give any results, Please try a different term.", "status": 404}</code>
            </li>
        </ul>

        <li>HTTP 500</li>
        <ul>
            <li>
                <code>{"exception": "ScrapeError", "message": "", "status": 500}</code>
            </li>
        </ul>

        <li>HTTP 502</li>
        <ul>
            <li>
                <code>{"exception": "RequestConnectionError", "message": "", "status": 502}</code>
            </li>
        </ul>
    </ol>

    <h3>Exceptions/Errors</h3>
    <ol>
        <li>
            <code>NoParameter</code>: Occurs when no parameter was given.
        </li>
        <ul>
            <li>Returns status code 400.</li>
        </ul>

        <li><code>NoResults</code>: Occurs when no results were found.</li>
        <ul>
            <li>Returns status code 404.</li>
        </ul>

        <li>
            <code>ScrapeError</code>: Occurs when pylyrical cannot scrape
            lyrics from genius.com
        </li>
        <ul>
            <li>Returns status code 500.</li>
        </ul>

        <li>
            <code>RequestConnectionError</code>: Occurs when pylyrical
            cannot send a request to genius.com
        </li>
        <ul>
            <li>Returns status code 502.</li>
        </ul>
    </ol>

    <h3>Code examples</h3>
    <p>Below you will find some code examples to help you get started.</p>

    <ol>
        <li>cURL: <code>curl https://pylyrical.dev64.xyz/lyrics?q=how+do+i+make+you+love+me+the+weeknd</code></li>

        <li>Python: <code class="code-block">from urllib.parse import quote_plus

import requests

QUERY = "The Weeknd How Do I Make You Love Me"
API_URL = "https://pylyrical.dev64.xyz"

REQ = requests.get(f"{API_URL}/lyrics?q={quote_plus(QUERY)}")

if REQ.status_code == 200:
    print(REQ.json())

else:
    print(f"Something went wrong: {REQ.json()}")</code></li>
    </ol>
    
{% endblock %}
