<!doctype html>
<html lang="en">
    <head>
        <title>pylyrical_api - lyrics API scraping from genius.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/style.css" id="default-stylesheet" />
        <link rel="stylesheet" href="/static/border-outline.css" id="debug-stylesheet" disabled />
    </head>
    <body>
        <div class="top-bar" id="scrollBar"></div>

        <h1 class="colored" onclick="toggleStylesheet()">pylyrical_api</h1>

        <h2 style="color: #f04947">README!!!</h2>
        <p>pylyrical_api will be SHUT DOWN at Monday, 22 July 2024. The source code will still be available and updated. That means, you can (and should) self-host it. Why is pylyrical_api shutting down? I need this server slot to host a different project, and unfortunately i cannot have more than one project running, otherwise i will hit the free limit usage.</p>

        <h2>Try it out</h2>
        <form action="/lyrics" method="get">
            <label for="query">Search for...</label>
            <br />
            <input
                type="text"
                id="query"
                name="q"
                placeholder="The weeknd how do i make you love me"
                required
            />
            <button type="submit">Search</button>
        </form>

        <h2>Usage</h2>

        <ul>
            <li>Endpoint: <code>/lyrics</code></li>
            <ul>
                <li>Acceptable parameters: <code>q</code></li>
                <li>
                    Example:
                    <code>/lyrics?q=how+do+i+make+you+love+me+the+weeknd</code>
                </li>
            </ul>
        </ul>

        <h2>Responses</h2>
        <p>Responses are always in JSON. The following status codes are HTTP status codes.</p>

        <ol>
            <li>200</li>
            <ul>
                <li>
                    <code>{"artists": "", "lyrics": "", "source": "", "status": "200", "title": "", "cover_image": ""}</code>
                    Note: <code>cover_image</code> is <code>null</code> if backend could not scrape the cover image.
                </li>
            </ul>

            <li>400</li>
            <ul>
                <li>
                    <code>{"exception": "NoParameter", "message": "Missing parameter 'q'.", "status": "400"}</code>
                </li>
            </ul>

            <li>404</li>
            <ul>
                <li>
                    <code>{"exception": "NoResults", "message": "'' did not give any results, Please try a different term.", "status": "404"}</code>
                </li>
            </ul>

            <li>500</li>
            <ul>
                <li>
                    <code>{"exception": "ScrapeError", "message": "", "status": "500"}</code>
                </li>
            </ul>

            <li>502</li>
            <ul>
                <li>
                    <code>{"exception": "RequestConnectionError", "message": "", "status": "502"}</code>
                </li>
            </ul>
        </ol>

        <h2>Exceptions/Errors</h2>

        <ol>
            <li>
                <code>NoParameter</code>: Occurs when no parameter was given.
            </li>
            <ul>
                <li>Returns status code 400.</li>
            </ul>

            <li><code>NoResults</code>: Occurs when no results were found.</li>
            <ul>
                <li>Returns status code 404.</li>
            </ul>

            <li>
                <code>ScrapeError</code>: Occurs when pylyrical cannot scrape
                lyrics from genius.com
            </li>
            <ul>
                <li>Returns status code 500.</li>
            </ul>

            <li>
                <code>RequestConnectionError</code>: Occurs when pylyrical
                cannot send a request to genius.com
            </li>
            <ul>
                <li>Returns status code 502.</li>
            </ul>
        </ol>

        <script src="/static/script.js"></script>
    </body>
</html>
